/** Colors **/
$color-vibrant-orange: #FF5733;
$color-bright-green: #33FF57;
$color-bold-blue: #3357FF;
$color-hot-pink: #FF33A1;
$color-deep-orange: #FF8C33;
$color-light-green: #33FF8C;
$color-purple: #8C33FF;
$color-bright-red: #FF3333;
$color-cyan: #33FFFC;
$color-magenta: #FC33FF;
$color-yellow: #FFFC33;
$color-orange: #FC8C33;
$color-lime-green: #8CFF33;
$color-light-blue: #338CFF;
$color-yellow-green: #A1FF33;
$color-indigo: #5733FF;
$color-sky-blue: #33A1FF;
$color-pink: #FF338C;
$color-neon-green: #33FF33;
$color-bright-pink: #FF33FC;
$color-dark-red: #800000;
$color-dark-blue: #000080;
$color-dark-green: #008000;
$color-dark-purple: #800080;
$color-dark-cyan: #008080;
$color-dark-yellow: #808000;
$color-light-gray: #CCCCCC;
$color-dark-gray: #555555;
$color-brown: #964B00;
$color-gold: #FFD700;
$color-pastel-yellow: #FFFBCE; // Pastel yellow
$color-silver: #C0C0C0;
$color-maroon: #800000;
$color-navy: #000080;
$color-olive: #808000;
$color-teal: #008080;
$color-dark-slate-gray: #2F4F4F;
$color-medium-violet-red: #C71585;
$color-orchid: #DA70D6;
$color-medium-blue: #0000CD;
$color-medium-sea-green: #3CB371;
$color-medium-purple: #9370DB;
$color-medium-slate-blue: #7B68EE;
$color-medium-aquamarine: #66CDAA;
$color-medium-spring-green: #00FA9A;
$color-medium-turquoise: #48D1CC;
$color-medium-orchid: #BA55D3;
$color-medium-pink: #FFC0CB;
$color-medium-orchid: #BA55D3;
$color-medium-sea-green: #3CB371;
$color-medium-slate-blue: #7B68EE;
$color-medium-spring-green: #00FA9A;
$color-medium-turquoise: #48D1CC;
$color-medium-violet-red: #C71585;
$color-medium-pink: #FFC0CB;
/** Shades of gray **/
$gray-lightest: #F8F9FA;
$gray-very-light: #E9ECEF;
$gray-light: #DEE2E6;
$gray-medium-light: #CED4DA;
$gray-medium: #ADB5BD;
$gray-medium-dark: #6C757D;
$gray-dark: #495057;
$gray-darker: #343A40;
$gray-darkest: #212529;

